//mine
.notes-search-container,
.notes-search-container-small {
  margin: auto;
      max-height: 40px;
}
.notes-search {
     max-height: 30px;
     padding-left: 10px;
     padding-right: 10px;
     width: 35%;
     background: white;
     border-radius: 5px;
     box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
     top: 5px;
     text-align: center;
      .mat-form-field{
        text-align: center !important;
      }
      ::ng-deep .mat-form-field-flex>.mat-form-field-infix {
           border: none !important;
      }
      ::ng-deep .mat-form-field-flex>.mat-form-field-infix {
        padding: 0.3em 0px !important;
      }

      ::ng-deep .mat-form-field-label-wrapper {
        top: -0.7em;
      }
      ::ng-deep .mat-form-field-suffix {
        top: -0.3em;
      }
      ::ng-deep .mat-form-field-underline{
        height: 0px;
      }
     ::ng-deep  .mat-form-field-underline {
        background-image: none !important;
        display: none;
      }
      input{
        padding: 0.3em 0px !important;
      }
}

.title {
  float: left;
  margin-left: 15px;
}
.action-btns-disabled {
  float: right;
  height: 30px;
  color: #B4B4B4;
  border-bottom: 1px solid #CECECE;
  max-height: 30px;
  margin: 0px 15px 0px 5px;
  padding-bottom: 5px;

  &:active {
    color: #707070;
  }

  .material-icons {
    font-size: 18px;
  }

}

.action-btns{
    float: right;
    height: 30px;
    color: #B4B4B4;
    border-bottom: 1px solid #CECECE;
    max-height: 30px;
    margin: 0px 15px 0px 5px;
    padding-bottom: 5px;

  &:active {
        color: #707070;
  }

  .material-icons {
    font-size: 18px;
  }

}
.action-btns-disabled:hover {
   color: #666;
}

.action-btns:hover
  {
    color: #666;
   -webkit-transform: scale(1.3);
   -ms-transform: scale(1.3);
   transform: scale(1.3);
  }

.mat-icon-button{
  background: white;
  border-radius: 4px;
  width: 30px;
  height: 25px;
  line-height: 25px;
}



//mine




.titlebar {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #ebebeb, color-stop(1.0, #d5d5d5)));
  background: -moz-linear-gradient(top, #ebebeb, #d5d5d5);
  background: -ms-linear-gradient(top, #ebebeb, #d5d5d5);
  background: -o-linear-gradient(top, #ebebeb, #d5d5d5);
  background: linear-gradient(top, #ebebeb, #d5d5d5);
  background: -webkit-linear-gradient(top, #ebebeb, #d5d5d5);
  color: #4d494d;
  font-size: 11pt;
  line-height: 40px;
  text-align: center;
  width: 100%;
  height: 40px;
  border-top: 1px solid #f3f1f3;
  border-bottom: 1px solid #b1aeb1;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  cursor: default;
}

.buttons {
  padding-left: 8px;
  padding-top: 12px;
  float: left;
  line-height: 0px;
}

.buttons:hover a {
  visibility: visible;
}

.close {
  background: #ff5c5c;
  font-size: 9pt;
  width: 13px;
  line-height: 13px;
  height: 13px;
  border: 1px solid #e33e41;
  border-radius: 50%;
  display: inline-block;
}

.close:active {
  background: #c14645;
  border: 1px solid #b03537;
}

.close:active .closebutton {
  color: #4e0002;
}

.close:hover {
  background: #c14645;
  border: 1px solid #b03537;
}

.close:hover .closebutton {
  color: #4e0002;
}

.closebutton {
  color: #820005;
  visibility: hidden;
  cursor: default;
  text-decoration: none;
}

.minimize {
  background: #ffbd4c;
  font-size: 9pt;
  margin-left: 4px;
  width: 13px;
  line-height: 13px;
  height: 13px;
  border: 1px solid #e09e3e;
  border-radius: 50%;
  display: inline-block;
}

.minimize:active {
  background: #c08e38;
  border: 1px solid #af7c33;
}

.minimize:active .minimizebutton {
  color: #5a2607;
}

.minimize:hover {
  background: #c08e38;
  border: 1px solid #af7c33;
}

.minimize:hover .minimizebutton {
  color: #5a2607;
}

.minimizebutton {
  color: #9a5518;
  visibility: hidden;
  cursor: default;
  text-decoration: none;
}

.zoom {
  background: #00ca56;
  font-size: 9pt;
  margin-left: 6px;
  width: 13px;
  line-height: 13px;
  height: 13px;
  border: 1px solid #14ae46;
  border-radius: 50%;
  display: inline-block;
}

.zoom:active {
  background: #029740;
  border: 1px solid #128435;
}

.zoom:active .zoombutton {
  color: #003107;
}

.zoom:hover {
  background: #029740;
  border: 1px solid #128435;
}

.zoom:hover .zoombutton {
  color: #003107;
}

.zoombutton {
  color: #006519;
  visibility: hidden;
  cursor: default;
  text-decoration: none;
}


.notes-search-container-small {
  display: none;

 @media (max-width: 720px) {

    display: block;
     padding-top: 40px;
    .notes-search{
      width: 60%;
    }
  }
}


@media (max-width: 720px) {
  .notes-search-container {
    display: none;
  }
  .titlebar{
    height: 80px;
  }
}
