//sidebar
.sidenav-container {
  height: calc(100% - 42px);
}

.align-right {
  text-align: right;
}
.note-list-entry{
  height: 65px !important;
}
.note-list-title {
  font-weight: 500 !important;
}
.note-list-content{
  opacity: 1;
  color: #b2b2b2;
}
.note-list-date {
  opacity: 0.8;
  color: #b2b2b2;
  font-size: 11px !important;
}
mat-sidenav {
  max-width: 250px;
  min-width: 250px;
}
//sidebar
mat-sidenav-content {
  padding: 15px;
}
//main content edit
.note-edit-container {

}

.note-title {
  width: 100%;
}

.note-content {
  width: 100%;
}

//main content edit
